body {
     background-color: #000000;
     background-image: url('../images/Hamburg1.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     margin: 0;
}


.header {
     margin-top: -20px;
     text-align: right;
     background: #000000;
     color: white;
     font-size: 15px;
}



h3 {
     padding: 15px;
     margin-bottom: -1cm;
     text-align: right;
     background: #000000;
     background-size: 4cm;
     color: rgb(255, 255, 255);
     font-size: 15px;
}

.footer2 {
     padding: 15px;
     margin-bottom: -10cm;
     text-align: right;
     background: #000000;
     background-size: 4cm;
     color: rgb(255, 255, 255);
     font-size: 15px;
}



h1 {
     font-family: Helvetica, sans-serif;
     /* color: rgb(255, 255, 255); */
     font-size: 35px;
     text-align: center;



}

.abfrage {
     font-family: Helvetica, sans-serif;
     font-size: 35px;
     text-align: center;
     /* text-transform: uppercase; */
     position: relative;
}


h2 {
     font-family: Helvetica, sans-serif;
     color: rgb(255, 255, 255);
     font-size: 30px;
     text-align: center;

     /* animation: animate 2s ease-in-out infinite alternate;  */

}

h4 {
     font-family: Helvetica, sans-serif;
     text-align: center;
     color: rgb(255, 255, 255);
     font-size: 100px;
}

p {
     font-family: Helvetica, sans-serif;
     /* color: rgb(255, 255, 255); */
     font-size: 15px;
     text-align: center;

}

.text {
     font-family: Helvetica, sans-serif;
     font-size: 50px;
     text-align: center;
     color: rgb(255, 255, 255);
}

.text2 {
     font-family: Helvetica, sans-serif;
     font-size: 18px;
     text-align: center;
     color: rgb(255, 255, 255);
}

.text3 {
     font-family: Helvetica, sans-serif;
     font-size: 50px;
     text-align: center;
     color: rgb(255, 255, 255);
}

.more {
     font-family: Helvetica, sans-serif;
     font-size: 30px;
     text-align: center;
     color: rgb(255, 255, 255);
}

a {
     color: rgb(255, 255, 255);
     /* Цвет ссылок */
     animation: animate 2s ease-in-out infinite alternate;
}


@keyframes animate {
     from {
          text-shadow: 0 0 50px #958888;
     }

     to {
          text-shadow: 0 0 40px #763d66,
               0 0 105px #bdbdb4;
     }

}














